:root {
    --first-layer: #424642;
    --second-layer: #536162;
    --third-layer: #C06014;
    --fourth-layer: #F3F4ED;
}
/* oooooooooooooooooooooooooooooooooo */
.console {
    box-shadow: inset -3px 3px 15px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70rem;
    height: 40rem;
    border-radius: 7px;
    background-color: var(--second-layer);
}

hr {
    width: 90%;
    color: var(--third-layer);
    background-color: var(--third-layer);
    border: 1 px solid var(--third-layer);
}

/* oooooooooooooooooooooooooooooooooo */

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px -3px 15px #888888, -3px 3px 12px #0a0a0a;
}

.dead {
    background-color: var(--fourth-layer);
}

.alive {
    background-color: var(--third-layer);
}

.dead:hover {
    background-color: gray;
    cursor: pointer;
}

.alive:hover {
    background-color: #86430c;
    cursor: crosshair;
}

/* oooooooooooooooooooooooooooooooooo */

button {
    background-color: var(--third-layer);
}