:root {
  --first-layer: #191919;
  --second-layer: #2D4263;
  --third-layer: #C84B31;
  --fourth-layer: #ECDBBA;

  --text-color: var(--fourth-layer);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* FROM HERE */
  width: 100vw; 
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  color: var(--fourth-layer);
  background-color: var(--first-layer); 
  /* UNTIL HERE */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
